ul { 
	list-style-type: none;
}
ul li.nivel1 { 
	float: left;
	width: 162px;
	margin-right: 2px;
}
ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #666;
	border: solid 1px #fff;
	padding: 8px;
	position: relative;
}
ul li:hover {
	position: relative;
}
ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #888;
	color: #000;
	position: relative;
}
ul li a.nivel1 {
	display: block!important;
	display: none;
	position: relative;
}
ul li ul {
	display: none;
}
ul li a:hover ul, #menu ul li:hover ul {
	display: block;
	position: absolute;
	left: 0px;
}
ul li ul li a {
	width: 160px;
	padding: 6px 0px 8px 0px;
	border-top-color: #000;
}
ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}